@model ML.Venta
@{
    ViewData["Title"] = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Carrito</h1>
<hr />
<div class="container">
    @if(Model.Carrito != null)
    {
        
        if(Model.Carrito.Count > 0)
        {
            <div>
                <a class="btn btn-danger" href="@Url.Action("ClearCarrito","Dulceria")">Vaciar carrito</a>
                <button onclick="CalcularTotalModal()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Comprar
                </button>
            </div>
            <br />
            <table class="table table-dark table-hover text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio ($)</th>
                        <th>Agregar</th>
                        <th>Quitar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(ML.Dulceria dulce in Model.Carrito)
                    {
                        <tr>
                            <td>@dulce.Nombre</td>
                            <td>@dulce.Descripcion</td>
                            <td class="tdCantidad">@dulce.Cantidad</td>
                            <td class="tdPrecio">@dulce.Precio</td>
                            <td><a class="btn btn-success" href="@Url.Action("AddCarrito","Dulceria",new{idDulce = dulce.IdDulce})"><i class="fa-solid fa-cart-plus"></i></a></td>
                            <td><a class="btn btn-danger" href="@Url.Action("AddCarrito","Dulceria",new{idDulce = dulce.IdDulce,accion="Delete"})"><i class="fa-regular fa-trash-can"></i></a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Total ($): <label id="lblTotal"></label></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <i class="fa-solid fa-bell"></i> Aún no has agregado productos a tu carrito
            </div>
        }
    }
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Resumen de compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Estas a punto de adquirir los sigientes productos</p><br />
                <table class="table table-dark table-hover text-center">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Precio ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ML.Dulceria dulce in Model.Carrito)
                        {
                            <tr>
                                <td>@dulce.Nombre</td>
                                <td>@dulce.Descripcion</td>
                                <td class="modal-cantidad">@dulce.Cantidad</td>
                                <td class="modal-precio">@dulce.Precio</td>
                            </tr>
                        }
                    </tbody>
                </table><br />
                <label>Total ($): <label id="modalTotal"></label></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalConfirmacion">
                    Confirmar compra
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmación de pedido</h1>
                @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
            </div>
            <div class="modal-body container">
                <img style="width:50%;height:50%" class="mx-auto d-block" src="https://media0.giphy.com/media/TXCPr0fZQN888oll0o/giphy.gif?cid=6c09b952b105s5dvdjwbh94lqrn8uhxyp7cc3ht9xx09ttf1&ep=v1_stickers_related&rid=giphy.gif&ct=s" />
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("ClearCarrito","Dulceria")" class="btn btn-secondary">Cerrar</a>
                <a class="btn btn-warning" href="@Url.Action("GenerarPDF","Dulceria")"><i class="fa-solid fa-file-pdf"></i></a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var preciosList = document.querySelectorAll(".tdPrecio");
    var cantidadList = document.querySelectorAll(".tdCantidad");
    var index = 0;
    var total = 0;
    preciosList.forEach(function(td){
        total += parseInt(td.textContent) * parseInt(cantidadList[index].textContent);
        index += 1;
    });
    document.getElementById("lblTotal").innerHTML = total;

    function CalcularTotalModal(){
        var preciosList = document.querySelectorAll(".modal-precio");
        var cantidadList = document.querySelectorAll(".modal-cantidad");
        var index = 0;
        var total = 0;
        preciosList.forEach(function (td) {
            total += parseInt(td.textContent) * parseInt(cantidadList[index].textContent);
            index += 1;
        });
        document.getElementById("modalTotal").innerHTML = total;
    }
</script>